In [25]:
import pandas as pd

In [27]:
data = pd.read_csv('us-counties-2021.csv')
data

               date      county    state     fips  cases  deaths
0        2021-01-01     Autauga  Alabama   1001.0   4239    50.0
1        2021-01-01     Baldwin  Alabama   1003.0  13823   169.0
2        2021-01-01     Barbour  Alabama   1005.0   1517    33.0
3        2021-01-01        Bibb  Alabama   1007.0   1854    46.0
4        2021-01-01      Blount  Alabama   1009.0   4693    63.0
...             ...         ...      ...      ...    ...     ...
1185368  2021-12-31  Sweetwater  Wyoming  56037.0   8320   107.0
1185369  2021-12-31       Teton  Wyoming  56039.0   5950    14.0
1185370  2021-12-31       Uinta  Wyoming  56041.0   4154    31.0
1185371  2021-12-31    Washakie  Wyoming  56043.0   1879    37.0
1185372  2021-12-31      Weston  Wyoming  56045.0   1254    14.0

[1185373 rows x 6 columns]

In [31]:
nc = data.loc[data['state'] == "North Carolina"].copy()

# Convert the 'date' column to datetime
nc['date'] = pd.to_datetime(nc['date'])

# Define the date range
start_date = '2021-07-01'
end_date = '2021-12-01'

# Filter the DataFrame for the date range
df = nc[(nc['date'] >= start_date) & (nc['date'] < end_date)]

In [33]:
df = df.copy()

# Sort the data
df.sort_values(by=['date', 'county'], inplace=True)

# Calculate the daily change in cases for each county
df['daily_change'] = df.groupby('county')['cases'].diff().fillna(0)

# Calculate the weekly change in cases for each county
df['weekly_change'] = df.groupby('county')['cases'].diff(periods=7).fillna(0)

In [34]:
df

,date,county,state,fips,cases,deaths,daily_change,weekly_change
589469,2021-07-01,Alamance,North Carolina,37001.0,19035,289.0,0.0,0.0
589470,2021-07-01,Alexander,North Carolina,37003.0,4456,84.0,0.0,0.0
589471,2021-07-01,Alleghany,North Carolina,37005.0,1095,5.0,0.0,0.0
589472,2021-07-01,Anson,North Carolina,37007.0,2637,56.0,0.0,0.0
589473,2021-07-01,Ashe,North Carolina,37009.0,2248,45.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1083366,2021-11-30,Wayne,North Carolina,37191.0,17577,309.0,29.0,194.0
1083367,2021-11-30,Wilkes,North Carolina,37193.0,11099,188.0,24.0,119.0
1083368,2021-11-30,Wilson,North Carolina,37195.0,13571,240.0,13.0,50.0
1083369,2021-11-30,Yadkin,North Carolina,37197.0,6345,76.0,23.0,114.0
1083370,2021-11-30,Yancey,North Carolina,37199.0,3024,35.0,4.0,37.0

In [35]:
df.to_csv("nc_data.csv")